body {
	
}

h1 {
	color: aliceblue;
}

.btn-refresh {
	margin-top: 26px;
	border-width: 2px;
	border-color: whitesmoke;
}

#description {
	height: 20px;
	margin-bottom: 20px;
}

.nav-look {
	min-height: 90px;
	background-color: #343a40;
	border-radius: inherit;
}

#overlay {
	background: #ffffff;
	color: #666666;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5000;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	padding-top: 25%;
	opacity: .80;
}

.spinner {
	margin: 0 auto;
	height: 64px;
	width: 64px;
	animation: rotate 0.8s infinite linear;
	border: 5px solid #2196f3;
	border-right-color: transparent;
	border-radius: 50%;
}

@keyframes rotate { 0% {
	transform: rotate(0deg);
	}
	100%
	{
	transform : rotate(360deg);
	}
}